<div class="container">
  <form [formGroup]="form" (ngSubmit)="signin()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" autocomplete="off"  formControlName="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd"autocomplete="off"  formControlName="password">
    </div>
    <button type="submit" class="btn btn-default">Sign In</button>
    <p *ngIf="errorMessage" class="loginError">
      {{ errorMessage }}
    </p>
  </form>
</div>

